﻿﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">

<head>
    {% block head %}
    <title>{%  block title %}Intranet du Laboratoire Galaxy-Swiss Bourdin{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="{{ asset('bundles/bcwbjmgsb/css/styles.css') }}" rel="stylesheet" type="text/css" />
    <script src="{{ asset('bundles/bcwbjmgsb/js/jquery.js') }}" rel="stylesheet" type="text/javascript"></script>
    <script src="{{ asset('bundles/bcwbjmgsb/js/styles.js') }}" rel="stylesheet" type="text/javascript"></script>
    <link rel="shortcut icon" type="image/x-icon" href="./images/favicon.ico" />
    {%  endblock %}
</head>
<body>
<div id="page">
    <div id="entete">
        <img src="{{ asset('bundles/bcwbjmgsb/images/logo.jpg') }}" id="logoGSB" alt="Laboratoire Galaxy-Swiss Bourdin" title="Laboratoire Galaxy-Swiss Bourdin" />
        <h1>Suivi du remboursement des frais</h1>
    </div>
    {% block body %}{% endblock %}

    {% block footer %}
</div>
    <!-- Division pour le pied de page -->

</body>
</html>

{%  endblock %}