
{% block sommaire %}
    ﻿    <!-- Division pour le sommaire -->
    <div id="menuGauche">
        <div id="infosUtil">

            <h2>

            </h2>

        </div>
        <ul id="menuList">
            <li >
                
                {% set idVisiteur = visiteur.idVisiteur%}
                {{visiteur.nom}} {{visiteur.prenom}} 
            </li>
            <li class="smenu">
                <a href="{{ path( 'bc_wb_jm_gsb_saisirFrais' )  }}" title="Saisie fiche de frais ">Saisie fiche de frais</a>
            </li>
            <li class="smenu">
                <a href="{{ path( 'bc_wb_jm_gsb_consulterFrais'  )  }}" title="Consultation de mes fiches de frais">Mes fiches de frais</a>
                
            </li>
            <li class="smenu">
                <a href="{{ path( 'bc_wb_jm_gsb_deconnexion' ) }}" title="Se déconnecter">Déconnexion</a>
            </li>
        </ul>

    </div>
{% endblock %}
